<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Сайт для размещения вакансий в IT-сфере.</p>
    <p>Целевая аудитория:</p>
    <p>Работодатели в IT-сфере, которые ищут квалифицированных кандидатов для своих вакансий.
Работники IT-сферы, которые ищут новые возможности и хотят находить подходящие вакансии быстро и легко.</p>
    <p>Функционал:</p>
    <p>Регистрация аккаунта для работодателей и работников.
Размещение вакансий работодателями.
Поиск вакансий по различным критериям, таким как город, зарплата, опыт работы, должность и т.д.
Возможность создания и редактирования профиля с указанием профессионального опыта, образования и компетенций.
Возможность отклика на вакансии и отправки резюме работодателям.
Система уведомлений о новых вакансиях и откликах на вакансии.</p>
    <p>Распределение контента и функционала по веб-страницам:</p>
    <p>Главная страница: поиск вакансий и регистрация аккаунтов.
Страница вакансий: список доступных вакансий с возможностью фильтрации и сортировки.
Страница профиля : информация о опыте, образовании и компетенциях, а также список резюме, отправленных на вакансии.
Страница профиля работодателя: информация о компании, ее вакансиях, и список откликов на вакансии.
Страница входа и регистрации.</p>
    <p>Дизайн:</p>
    <p>Удобный и легко понятный интерфейс, чтобы пользователи могли быстро находить нужную информацию и выполнять необходимые действия.</p>
    <p>Похожие сайты:</p>
    <p>hh.ru</p>
    <p>superjob.ru</p>
    <p>linkedin.com</p>

</body>
</html>