@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
      @apply me-3 bg-gradient-to-r from-violet-950 to-violet-800 hover:from-violet-800 hover:to-violet-600 text-white font-bold py-2 px-4 rounded-full text-center;
      width: 130px;
      display: inline-block;
      height: 40px;
      text-align: center;
      
    }
}